.book {
  box-shadow: -1px -2px 24px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -2px 24px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -2px 24px -8px rgba(0, 0, 0, 0.75);
}



.embla {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 40vh;
  z-index: 1;
  position: relative;
  overflow: hidden;
  /* Ensure slides do not overflow */
}

.embla__container {
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.embla__slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  height: 100%;
  border-radius: 20px;
  min-width: 50%;
  flex: 0 0 auto;
  margin-right: 10px;
}


@media only screen and (max-width: 800px) {

  .embla__slide {
    min-width: 35%;
  }

}


@media only screen and (max-width: 600px) {

  .embla__slide {
    min-width: 20%;
    height: 100%;
  }

  .embla {
    height: 30vh;
  }

}
